<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>se.dessibelle.bukowskismarkethelper</string>
       <key>Developer Identifier</key>
       <string>7N9VJE7L49</string>
       <key>CFBundleVersion</key>
       <string>1.0</string>
       <key>CFBundleShortVersionString</key>
       <string>1.0</string>
       <key>URL</key>
       <string>http://dessibelle.github.io/bukowskis-market-helper/downloads/Bukowskis-Market-Helper.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
